HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.DS_Store

/logs/
/temp/
/uploads/

/merge-pdf-files/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/deploy/user-service/BOOT-INF/
/deploy/user-service/META-INF/
/deploy/user-service/org/
deploy/api-gateway/api-gateway.jar
deploy/user-service/user-service.jar
/fs-service/08e8859d-161b-42b1-b498-3d9841070349.png
/fs-service/sos.png
lnsoft-cloud-ztbgl/src/main/resources/MakeCatalogController.java
lnsoft-cloud-ztbgl/src/main/resources/SpireDocUtil.jav
.DS_Store
test.pdf
*.cq4t
*.cq4
download/test_1754026565603_5677eb18.pdf
fs-service/src/main/resources/冰雪奇缘中英文台词完整版.docx
fs-service/src/main/resources/frozen.txt
fs-service/src/main/resources/frozen.docx
