<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redjujubetree.users.mapper.ArticleMapper">

    <select id="queryArticleList" resultType="com.redjujubetree.users.domain.dto.ArticleDTO">
        select t.id, ac.column_id, t.`path`, t.component, t.create_time, t.icon, t.title, t.url, t.display_order
        from article t
            left join article_column ac on t.id = ac.article_id
        where 1=1
        order by display_order desc
    </select>

</mapper>