<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redjujubetree.qmt.mapper.StockDividendMapper">

    <select id="queryWeekTrend" resultType="com.redjujubetree.qmt.domain.StockDividendDistribution">
        select stock_code, stock_name, real_year, dividend_distribution
        from stock_div_amount_year t
        where t.stock_code in ('600027','601668','600398','600377','600016','601601','600350','601818','601169','601225','000157','601318','002601','600028','600985','601006','600177')
    </select>

</mapper>