<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redjujubetree.qmt.mapper.StockDailyDataMapper">

    <select id="queryWeekData" resultType="com.redjujubetree.qmt.domain.bo.StockPriceBO">
        select ksi.code stock_code, ksi.name stock_name, p.trade_date, p.price, dividend_estimated, round( dividend_estimated/p.price*100,2) pct_dividend_estimated
        from
        (
        SELECT
        round(AVG(sdd.`open`),2)  AS price,
        DATE_FORMAT(sdd.trade_date, '%Y%U') AS trade_date,
        sdd.ts_code
        FROM
        stock_daily_data sdd
        WHERE sdd.trade_date >= '2023-07-01'
        GROUP BY DATE_FORMAT(sdd.trade_date, '%Y%U'), sdd.ts_code
        ) p
        JOIN (
        select * from kenny_stock_info_view order by pct_estimated desc limit 0 , 12
        ) ksi ON p.ts_code = ksi.code
        order by ksi.pct_estimated desc
    </select>

</mapper>