<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redjujubetree.qmt.mapper.StockDividendMapper">

    <select id="queryWeekTrend" resultType="com.redjujubetree.qmt.domain.bo.StockDividendDistribution">
        select stock_code, ksi.name as stock_name, real_year, dividend_distribution, ksi.`open` , round(dividend_distribution / ksi.`open` * 100,2) as pct_dividend
        from stock_div_amount_year t
        join (
            select * from kenny_stock_info_view order by pct_estimated desc limit 0 , 12
        ) ksi on ksi.code = t.stock_code
        where t.stock_code
        order by pct_estimated desc
    </select>

</mapper>